@import "globals.less";

html {
    background: transparent url(/images/back.gif) top left;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica;
}

body {
    background: transparent url(/images/back_grad.gif) repeat-x top left;
    height: 100%;
    text-align: center;
}

.center {
    text-align: center;
}

a {
    color: #222;
    background: #3B86C1;
    text-decoration: none;
    padding: 2px 4px;
    -webkit-border-radius: 3px;
    
    :visited {
        color: #222;
    }
    :hover {
        color: #fff;
        background: #2B6EBA;
    }
}

h1 {
    font-size: 25px;
    margin-bottom: 15px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    color: #1567A5;
    text-shadow: 1px 1px 1px #fff;
}

p {
    margin: 0 auto 15px auto;
}

.errorExplanation {
    background: #A0DDFF;
    padding: 10px;
    .rounded_corners;
    .box_shadow;
    margin-bottom: 25px;
    
    h2 {
        font-size: 16px;
    }
}

header {
    margin: 0 auto 45px auto;
    padding-top: 45px;
    position: relative;
    
    a {
        float: left;
        position: relative;
        display: inline-block;
        background: none;
        -webkit-border-radius: 2px;
        margin-right: 25px;
        
        :hover {
            background: none;
        }
    }
    
    .inner {
        width: 537px;
        margin: auto;
        position: relative;
        left: 100px;
    }
    
    .spread {
        position: relative;
        right: 0;
        margin-top: 5px;
        display: inline-block;
        float: left;
        width: 160px;
        padding: 25px 15px 25px 15px;
        text-align: center;
        background: url(/images/spread.png) no-repeat 0 0;
        
        h3 {
            font-size: 14px;
        }
        
        iframe {
            position: relative;
            left: 7px;
            display: block;
            width: 140px;
            margin: 10px auto 10px auto;
        }
    }
}

.youtube_screenshot {
    margin: 20px auto 30px auto;

    img {
        -moz-box-shadow: 0px 0px 8px #555; 
        -webkit-box-shadow: 0px 0px 8px #555; 
        box-shadow: 0px 0px 8px #555;
        margin-bottom: 5px;
    }
    
    p {
        color: #1668A5;
    }
}

.wrap {
    width: 700px;
    margin: auto;
    text-align: left;
}

