html {
    background: transparent url(/images/back.gif) top left;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica;
}

body {
    background: transparent url(/images/back_grad.gif) repeat-x top left;
    height: 100%;
    text-align: center;
}

a {
    color: #222;
    background: #3B86C1;
    text-decoration: none;
    padding: 2px 4px;
    -webkit-border-radius: 3px;
    
    :visited {
        color: #222;
    }
    :hover {
        color: #fff;
        background: #2B6EBA;
    }
}

h1 {
    font-size: 25px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    color: #1567A5;
    text-shadow: 1px 1px 1px #fff;
}

p {
    margin: 0 auto 15px auto;
}

header {
    margin: 0 auto 45px auto;
    padding-top: 45px;
    
    a {
        background: none;
        -webkit-border-radius: 2px;
        display: inline-block;
        
        :hover {
            background: none;
        }
    }
    
    img {
        
    }
}

.youtube_screenshot {
    margin: 20px auto 30px auto;

    img {
        -moz-box-shadow: 0px 0px 8px #555; 
        -webkit-box-shadow: 0px 0px 8px #555; 
        box-shadow: 0px 0px 8px #555;
        margin-bottom: 5px;
    }
    
    p {
        color: #1668A5;
    }
}

.section {
    background: url(/images/section_back.gif);
    padding: 20px 0 20px 0;
    margin-bottom: 25px;
    -moz-box-shadow: 0px 0px 4px #3378B7; 
    -webkit-box-shadow: 0px 0px 4px #3378B7; 
    box-shadow: 0px 0px 4px #3378B7;
    
    .inner {
        width: 950px;
        margin: auto;
    }
    
    .heading {
        margin-top: -6px;
        color: #18489E;
        text-align: right;
        font-size: 55px;
        font-weight: bold;
        text-shadow: 1px 1px 1px #fff;
        float: left;
        width: 350px;
        line-height: 65px;
    }
    
    .content {
        text-align: left;
        float: right;
        width: 550px;
        font-size: 24px;
        color: #333;
        
        .bullet {
            margin-bottom: 10px;
            
            span {
                float: left;
                background: transparent url(/images/circle.png) no-repeat top left;
                font-size: 25px;
                color: #fff;
                width: 36px;
                height: 36px;
                padding: 3px 0 0 11px;
            }
            div {
                padding-top: 4px;
                padding-left: 45px;
            }
        }
        
        .last {
            margin-bottom: 0;
        }
    }
}

p.see_example {
    margin-top: 15px;
    font-size: 15px;
}

code.block {
    font-size: 12px;
    display: block;
    background: #A0DDFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    -moz-box-shadow: 0px 0px 4px #3378B7; 
    -webkit-box-shadow: 0px 0px 4px #3378B7; 
    box-shadow: 0px 0px 4px #3378B7;
    
    strong {
        color: #ff0000;
    }
}

.share_promo {
    background: #A0DDFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 10px 10px 30px;
    -moz-box-shadow: 0px 0px 4px #3378B7; 
    -webkit-box-shadow: 0px 0px 4px #3378B7; 
    box-shadow: 0px 0px 4px #3378B7;
    width: 150px;
    
    .twitter-share-button {
        margin-right: 15px;
        position: relative;
        top: -4px;
    }
}