<h3>Don’t you hate it when ads break interfaces? Like this:</h3>

<div class="youtube_screenshot">
    <%= image_tag 'youtube_screenshot.gif' %>
    <p>Actual screenshot from YouTube.</p>
</div>

<div class="section clearfix">
    <div class="inner clearfix">
        <div class="heading">
            THE PROBLEM
        </div>
        <div class="content">
            <div class="bullet clearfix">
                <span>1</span>
                <div>Flash ads cover up and break interfaces.</div>
            </div>
            <div class="bullet clearfix">
                <span>2</span>
                <div>Even major sites have this problem.</div>
            </div>
            <div class="bullet clearfix last">
                <span>3</span>
                <div>In many cases, site owners <strong>CANNOT</strong> fix it.</div>
            </div>
        </div>
    </div>
</div>