<div class="screenshot">
    <%= link_to image_tag(screenshot.image.url(:medium)), screenshot.image.url(:large), :class => 'screenshot_img' %>
    <p>
        <% if screenshot.twitter.blank? %>
            Spotted on
        <% else %>
            Spotted by <%= link_to h(screenshot.twitter), screenshot.twitter_url %> on
        <% end %>
        <%= link_to h(screenshot.domain), screenshot.url %>
    </p>
</div>
