<header class="clearfix">
    <div class="inner">
        <a href="/">
            <%= image_tag('header.png', :alt => 'Flash Ads Are Breaking The Web') %>
        </a>
        <div class="spread">
            <h3>Spread the Word</h3>
            <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.flashadsarebroken.com%2F&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.flashadsarebroken.com/" data-text="Flash ads are broken. Ad networks need to fix them. Here's how:" data-count="horizontal" data-via="jamesjyu">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
    </div>
</header>