<header class="clearfix">
    <div class="inner">
        <a href="/">
            <%= image_tag('header.png', :alt => 'Flash Ads Are Breaking The Web') %>
        </a>
        <div class="spread">
            <h3>Spread the Word</h3>
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.flashadsarebroken.com/" data-text="Flash ads are broken. Ad networks need to fix them. Here's how:" data-count="horizontal" data-via="jamesjyu">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
    </div>
</header>